*{
    box-sizing: border-box;
}
body{
    background-color:#E3E3E3 ;
    margin: 0;
    background-image: url(../img/IdiotBg.svg);
    background-repeat: round;
    overflow-x: hidden;
    display: grid;
    grid-template: 
    " title"0.1fr
    " write_button "0.1fr
    " main"1fr
    ;
    height: 100vh;
    position: relative;
  
}
.write_btn{
    color: #1D1075;
    background-color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Quando',sans-serif;
    font-size: calc(11px + (15 - 11) * ((100vw - 300px) / (1600 - 300)));
    text-align: center;
    border: #1D1075 solid 1px;
    grid-area: write_button;
    justify-self: center;
    align-self: center;
    width: 30%;
}
.cross{
    display: none;
    grid-area: cross;
    justify-self: end;
    align-self: center;
    transition: transform ease 0.8s;
    width: 7%;
    cursor: pointer;
}
.cross:hover{
    transform: scale(0.8);
}

.content_perso{
    width: 15%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1%;
    bottom:70%;
    z-index: 2;
}
.img_perso{
    height: auto;
    width: 100%;
    margin: auto;
    border-radius: 50%;
    border: solid  #E3E3E3;
}
.title{
    font-family: 'Quando', serif;
    color: #1D1075;
    text-align: center;
    font-size: calc(17px + (40 - 17) * ((100vw - 300px) / (1600 - 300)));
    grid-area: title;
    justify-self: center;
    align-self: center;
    padding-top: 2vh;
}
.content_user{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1D1075;
    width: 80%;
    padding: 3%;
    border-radius: 10px;
    transition: 0.8s ease;
    margin: auto;
    margin-bottom: 2%;
    
}
.nickname{
    font-family: 'Quando', serif;
    font-size: 0.875rem;
    grid-area: pseudo;
    color: #1D1075;
    align-self: end;
    justify-self: end;

}
.story{
    font-family: 'Questrial', sans-serif;
    padding: 10px;
    color: white;
    text-align: center;
    max-width: 500px;
    line-height: 1.25;
    word-wrap: break-word;
}
main{
 
    /* height: 100vh; */
    width: 100vw;
  /* border: solid red; */
  grid-area: main;
  height: 90vh;
  /* column-fill: balance; */
  
}
.content_story{
    border-radius:  10px;
    background-color: #1D1075;
    grid-area: content_story;
   
    
    
}
.content_card{
    display: grid;
    grid-template: 
    "cross pseudo"0.1fr
    "content_story content_story"1fr/1fr 0.05fr;
    ;
    width: 90vw;
    margin: auto;
    position: relative;
    margin-bottom: 3%;
}
.rulesDef{
    display: none;
}
.home_btn{
    background-color: #1D1075;
    color: #1D1075;
    font-family: 'Questrial',sans-serif;
    border: solid white 3px;
    padding: 7px;
    border-radius: 50%;
    position:absolute ;
    top: 3%;
    left: 5%;
    text-decoration: none;
    transition: transform 0.8s ease;
   
}
.home_btn:hover{
    transform: scale(0.8);
}
/* *version tablette */
@media (min-width:481px) {
    .story{
        margin: auto;
    }
    .content_story{
        padding: 20px 0 20px 0;
    }
    .content_perso{
        width:10%;
        /* bottom: 20%; */
    }
 
       
}
/* !version ordi  */
@media (min-width:1024px) {
    
    .content_user{
        width:20%;
        padding: 2%;
    }
    .content_perso{
        position: unset;
        width: 70%;
        align-self: center;
        justify-self: center;
        grid-area: content_perso;
    }
    .content_story{
     
        justify-self: start;
        
    }
   .nickname{
       justify-self: start;
   }
   .write_btn{
       width: 20%;
   }
    .content_card{
        display: grid;
        grid-template: 
        "content_perso pseudo cross"1fr
        "content_perso content_story content_story"1fr/0.3fr 0.1fr 0.3fr ;
        ;
        width: 50vw;
        margin: unset;
        margin-bottom: 3%;
        border-bottom: 2px solid #1D1075;
        padding-bottom: 2vh;
    }
    .cross{
        justify-self: start;
        align-self: end;
        width: 15%;
    }
  
    body {
        grid-template: 
    "title def"10vh
    "write_button def"10vh
    "main def"1fr /1fr 30vw;
    ;
    
    }
    .rulesDef{
        display: inline-block;
        background-color: #1D1075;
        border-left: white solid 5px;
        height: 100vh;
        width: 30vw;
        grid-area: def;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        color: white;
    }
    .titleArticle{
        font-family: 'Quando',sans-serif;
        text-align: center;
        margin-bottom: unset;
    }
    .wrongDef{
        text-align: left;
       
        font-family: 'Questrial',sans-serif;
        margin: auto;
        margin-top: unset;
        margin-bottom: unset;
       text-align: left;
        text-decoration: line-through;
    }
    .def{
        width: 90%;
        min-width: 200px;
        margin: auto unset auto unset;
        text-align: left;
        font-family: 'Questrial',sans-serif;
        font-weight: 400;
        margin-top: unset;
        line-height: 1.5;
        
    }
    main::-webkit-scrollbar-thumb{
        background-color: #1D1075;
        border-radius: 10px;
        width: 10px;

    }
    main::-webkit-scrollbar{
        background-color: #1e107500;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 50vw;
        overflow: auto;
        margin: auto;
        height: 70vh;
        overflow-x: hidden;
        scrollbar-color: #1D1075;
        scrollbar-width: thin;
       
    }


}
