body{
    background-color: #E3E3E3;
    display: grid;
    margin-top: 5vh;
    grid-template: 
    "form"30vh
    "submit_button"0.20fr
    "content_perso"1fr
    
    
    ;
    gap:2vh 5vh;
    height: 100vh;
    background-image: url(../img/Idiot\ bg.svg);
    background-repeat: round;
   
}
.submit_button{
    grid-area: submit_button;
    justify-self: center;
    align-self: center;
    background-color: #1D1075;
    color: white;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s ease;
    
}
.hide{
    display: none;
}
input{
    outline: none;
}

.perso{
    width: 60%;
    min-width: 100px;
    transition: 0.8s ease;
    margin: auto;
}
.content_perso{
    text-align: center;
    grid-area: content_perso;
    align-self: start;s;
    transition: 0.8s ease;
    display: flex;
    flex-direction: column;
    
}
.nickname{
    background-color:#1D1075 ;
    color: white;
    padding: 7%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    border: black solid 2px;
    font-family: 'Quando',sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
}
.nickname::placeholder{
    color: white;

 }
 
.why{
    background-color: white;
    padding: 7% 3% 7% 3% ;
    border: black solid 2px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-family: 'Questrial',sans-serif;
    font-size: 0.875rem;
    word-wrap: break-word;
    resize: none;
    outline: none;

}
.form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    grid-area: form;
    justify-self: center;
    align-self:end ;
    min-width: 200px;
    max-width: 500px;
    transition:0.3s ease;
   
    
    
}
.buble{
    background-color: #1D1075;
    border: solid black 1px;
    color:white;
    font-family: 'Questrial',sans-serif;
    font-size: calc(0.5rem + 1vw);
   padding: 15px;
   width: 30%;
    border-radius: 10px ;
    display: inline-block;
    margin: auto;
}
@media (min-width:600px){

    body{
        grid-template: 
        "content_perso form"1fr
        "content_perso submit_button" 1fr/1fr 1fr
        
        ;
        gap:  1vh 0;
    }
    .perso{
        width: 90%;
    }
    .content_perso{
        align-self: center;
        display: flex;
        flex-direction: row-reverse;
    }
    .submit_button{
        align-self: start;
    }
    .form{
        align-self: end;
        
    }
    .buble{
        border-radius: 50px 10px 10px 0;
    }


}
