body{
    background-color: #E3E3E3;
    display: grid;
    margin-top: 5vh;
    grid-template:
    "content_perso"0.1fr
    "form"0.5fr
    "submit_button"0.2fr
    ;
    gap:2vh 5vh;
    height: 100vh;
    background-image: url(../img/Idiot\ bg.svg);
    background-repeat: round;
   
}
.submit_button{
    grid-area: submit_button;
    justify-self: center;
    align-self: center;
    background-color: #1D1075;
    color: white;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s ease;
    font-family: 'Quando',sans-serif;
    cursor: pointer;
    
}
.submit_button:hover{
    animation: call-back 1s;
}
.hide{
    display: none;
}
input{
    outline: none;
}

.perso{
    width: 60%;
    min-width: 100px;
    transition: 0.8s ease;
    margin: auto;
    
}
.content_perso{
    text-align: center;
    grid-area: content_perso;
    align-self: start;s;
    transition: 0.8s ease;
    display: flex;
    flex-direction: column;
    
}
.nickname{
    background-color:#1D1075 ;
    color: white;
    padding: 7%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    border: black solid 2px;
    font-family: 'Quando',sans-serif;
    font-size: 1rem;
    word-wrap: break-word;
}
.nickname::placeholder{
    color: white;

 }
 
.why{
    background-color: white;
    padding: 7% 3% 7% 3% ;
    border: black solid 2px;
    text-align: center;
    border-radius: 0 0 10px 10px;
    font-family: 'Questrial',sans-serif;
    font-size: 0.875rem;
    word-wrap: break-word;
    resize: none;
    outline: none;

}
.form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    grid-area: form;
    justify-self: center;
    align-self:end ;
    min-width: 200px;
    max-width: 500px;
    transition:0.3s ease;
   
    
    
}
.buble{
    background-color: #1D1075;
    border: solid black 1px;
    color:white;
    font-family: 'Questrial',sans-serif;
    font-size: calc(0.5rem + 1vw);
   padding: 15px;
    border-radius: 10px ;
    display: inline-block;
    margin: auto;
}
@keyframes call-back {
    0%{}
   50%{transform: scale(1.2);}
   100%{}
    
}
@media (min-width:768px) {
    body{
        grid-template:
        "content_perso content_perso"0.1fr
        "form submit_button"0.5fr/ 1fr 0.5fr
        
    ;
    gap: 2vh 2vh;
    }
    .submit_button{
        justify-self: start;
        align-self: center;
    }

    .perso{
        width:40%;
    }
    .form{
        justify-self: end;
    }
    
}
@media (min-width:1024px){

    body{
        grid-template: 
        "content_perso form"1fr
        "content_perso submit_button" 1fr/1fr 1fr
        
        ;
        gap:  1vh 0;
    }
    .perso{
        width: 70%;
    }
    .content_perso{
        align-self: center;
        display: flex;
        flex-direction: row-reverse;
    }
    .submit_button{
        align-self: start;
        justify-self: center;
    }
    .form{
        justify-self: center;
        align-self:end ;
        
    }
    .buble{
        border-radius: 40px 10px 10px 0;
    }


}
