body{
    background-color: #1D1075;
    


}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 100vh;
    
}
h1{
    font-size: 4rem;
    color: white;
    font-family: 'Quando', serif;
    text-align: center;

    grid-area: 2 / 2 / 3 / 3;
}

.button{
    color: white;
    border: 2px solid white;
    padding: 5vw;
    font-family: 'Questrial', sans-serif;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
}
.content_link{
   
    grid-area: 4 / 2 / 5 / 3; 
}
.link1{
    grid-area: 4 / 2 / 5 / 3;
}
.link2{
    grid-area: 5 / 2 / 6 / 3;
}