body{
    background-color: #E3E3E3;
    display: grid;
    grid-template: 
    "form"20vh
    "submit_button"0.20fr
    "content_perso"1fr
    
    
    ;
    height: 100vh;
}
.submit_button{
    grid-area: submit_button;
    justify-self: center;
    align-self: center;
    background-color: #2100FF;
    color: white;
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    transition: 0.8s ease;
    
}
.hide{
    display: none;
}
input{
    outline: none;
}

.perso{
    width: 90%;
    min-width: 100px;
}
.content_perso{
    text-align: center;
    /* border:solid red; */
    grid-area: content_perso;
    align-self: start;
    transition: 0.8s ease;
}
.nickname{
    background-color:#1D1075 ;
    color: white;
    padding: 7%;
    border-radius: 10px 10px 0 0;
    text-align: center;
    border: black solid 2px;
}
.nickname::placeholder{
    color: white;
 }
 
.why{
    background-color: white;
    padding: 7% 3% 7% 3% ;
    border: black solid 2px;
    text-align: center;
    border-radius: 0 0 10px 10px;

}
.form{
    display: flex;
    flex-direction: column;
    width: 50vw;
    grid-area: form;
    justify-self: center;
    align-self:center ;
    min-width: 200px;
    max-width: 500px;
    
}
@media (min-width:1000px){

    body{
        grid-template: 
        "content_perso form"1fr
        "content_perso submit_button" 1fr/1fr 1fr
        
        ;
        gap:  1vh 0;
    }
    .content_perso{
        align-self: center;
    }
    .submit_button{
        align-self: start;
    }
    .form{
        align-self: end;
        
    }


}
