* {
    margin:0;
    padding:0;
}
body{
    background-color: #E3E3E3;
    position:relative;
    overflow-y: hidden;
   
   
  

}
.content{
    display: grid;
   grid-template: 
   "content_rand" 0.25fr
   "content_choose" 0.5fr
   "content_person" 1fr;
   border: solid red;
   height: 100vh;
   width:100vw;

}
.content_person{
    grid-area: content_person;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.person{
    width: 100%;
    transition: 0.8s ease;
    
}
.content_rand{
    grid-area: content_rand;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.rand_button{
   color: white;
   background-color: black; 
   font-family: 'Questrial', sans-serif;
   font-size: 0.875rem;
   border: none;
   border-radius: 5px;
   padding: 3%;
  
}
.content_choose{
    grid-area: content_choose;
    display: flex;
    align-items: center;
    justify-content: center;
    

}
.choose_button{
    background-color:  #2100FF;
    border: black 2px solid;
    font-family: 'Questrial', sans-serif;
    padding: 2vh 5vh 2vh 5vh;
    color: white;
    border-radius: 5%;
    grid-area: choose;
    
}
.blob1{
    animation: rotate 20s linear infinite;
    position: absolute;
    left: 50%;
    top: -50%;
    z-index: -1;
   
}
.blob2{
    position: absolute;
    left: 0;
    bottom: -50%;
    z-index: -1;
    animation: rotate 10s linear infinite;
}

.hide{
    display: none;
}
@keyframes rotate {
    from{
        transform:translate(-50%,0)
    }
    to{
        transform: translate(-50%,0) rotate(360deg);
    }
    
}